[submodule "Lavendel/vendor/spdlog"]
	path = Lavendel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lavendel/vendor/glfw"]
	path = Lavendel/vendor/glfw
	url = https://github.com/glfw/glfw.git
