/.vs
/.idea
*.user
bin
bin-int
./x64
outgit
status
out
build

.vscode/

.DS_Store

lazygit.exe
Velt/vendor/
vendor/
#
fzf.exe
cmake-build-debug

venv
Scripts/.venv
Scripts/__pycache__
Scripts/VulkanSDKInstaller.exe

imgui.ini
VeltProfile-Runtime.json
VeltProfile-Startup.json

.cache/
.zed/


cmake/