[submodule "Velt/vendor/spdlog"]
	path = Velt/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Velt/vendor/sdl3"]
	path = Velt/vendor/sdl3
	url = https://github.com/libsdl-org/SDL
[submodule "Velt/vendor/glm"]
	path = Velt/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Velt/vendor/volk"]
	path = Velt/vendor/volk
	url = https://github.com/zeux/volk
[submodule "Velt/vendor/ImGui"]
	path = Velt/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "Velt/vendor/stb"]
	path = Velt/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Velt/vendor/spirv-reflect"]
	path = Velt/vendor/spirv-reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
